@import "./styles/configurator_tailwind.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Stili globali aggiuntivi */
body {
  @apply bg-gray-100 text-gray-900 font-sans;
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}